:root {
    --grey-scale-1: #{$grey-scale-1};
    --grey-scale-2: #{$grey-scale-2};
    --grey-scale-3: #{$grey-scale-3};;
    --grey-scale-4: #{$grey-scale-4};;
    --grey-scale-5: #{$grey-scale-5};;

    --backgrouund-color-1: #{$background-color-1};
    --backgrouund-color-2: #{$background-color-2};

    --stock-color-green: #{$stock-color-green};
    --stock-color-yellow: #{$stock-color-yellow};
    --stock-color-red: #{$stock-color-red};
    --stock-color-black: #{$stock-color-black};

    --opacity-black-1: #{$opacity-black-1};
    --opacity-black-2: #{$opacity-black-2};
    --opacity-black-3: #{$opacity-black-3};
    --opacity-black-4: #{$opacity-black-4};
    --opacity-black-5: #{$opacity-black-5};
    --opacity-black-6:  #{$opacity-black-6};
    --opacity-correctly: #{$opacity-correctly};
}